<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <style type="text/css">
        body{
            background-image: url(https://pendecor.vn/uploads/files/2022/08/07/24-run-mart-6.jpg);
            background-size: 100%;
        }
        table, th, td{
            border: 1px solid black;
        }
        table{
            background-color: white;
            margin: 0px auto;
        }
        th, td{
            border-bottom: 2px solid #000;
            padding: 20px;
            text-align: left;
        }
        tr:hover{
            background-color: #AAA;
        }
        th{
            background-color: #4CAF50;
            color:white;
        }
        .button {
            background-color: #555555;
            border: none;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50px;
            transition: opacity 0.2s ease;
        }
        .button:hover {
            opacity: 0.8;
        }
        .button1 {
            margin:auto; display:block;
        }
        form{
            font-size: 20px;
        }
        h1{
            text-align:center;
        }
    </style>
</html>
